@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,300italic,100,100italic,400italic,500,500italic,700,700italic);

body {
  font-family: "Roboto Mono";
	font-weight: 100;
  text-align: center;
  min-width: 350px;
}

a {
  color: black;
}

a:visited, a:link, a:active {
  text-decoration: none;
}
